footer{
    min-height: 100vh;
    background-color: #161517;
    color: #fff;
    display: flex;
    position: relative;
    z-index: 20;
    overflow: hidden;
}
.foot{
    padding: 100px 200px;
    margin: auto;
    @media(max-width:600px){
        padding: 20px 8%;
        width: 84%;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        @media(max-width:600px){
            flex-direction: column;
        }
        .lists{
            padding-right: 32px;
            min-width: 400px;
            @media(max-width:600px){
                padding: 0;
                display: grid;
                grid-template-columns: auto auto auto;
            }
            div{
                padding: 4px 0;
                a{
                    color: rgb(255, 255, 255);
                    opacity: 0.8;
                    font-size: 19px;
                    line-height: 36px;
                    white-space: nowrap;
                    text-decoration: none;
                    font-weight: bold;
                    @media(max-width:600px){
                        font-size: 12px;
                    }
                }
            } 
            img{
                width: 75%;
                @media(max-width:600px){
                    width: 50%;
                    grid-column: 1/4;
                }
            }
        }
        .lis{
            @media(max-width:600px){
                margin-top: 2em;
            }
            div{
                margin-bottom: 30px;
                div{
                    font-size: 12px;
                    letter-spacing: .3px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    opacity: .6;
                }
                span{
                    font-size: 12px;
                    opacity: .6;
                    font-weight: bold;
                }
                a{
                    font-size: 12px;
                    letter-spacing: .3px;
                    line-height: 20px;
                    color: #fff;
                    margin-bottom: 20px;
                    opacity: .6;
                    padding: 0 15px;
                    text-decoration: none;
                    border-right: 1px solid #f6f6f6; 
                }
            }
        }
    }
}
.desc{
    margin-top: 1em;
}
.odd{
    margin-top: 5em;
    @media(max-width:600px){
        grid-column: 1/4;
    }
}
.par{
    width: 70%;
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 20px;
    margin-bottom: 20px;
    opacity: .6;
    @media(max-width:600px){
        grid-column: 1/4;
    }
    
}