.about{
    color: white !important;
    div{
        margin: 0 auto 2em;
        width: 60%;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;        
        
        @media(max-width: 600px){
            width: 95%;
        }
    }
}