.nav1 {
  padding: 1em 2em;
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    span {
      font-size: 30px;
    }
  }
}

.det {
  width: 80%;
  margin: -1em auto;
  h4 {
    font-size: 45px;
    margin-bottom: 0.5em;
  }
  .blog {
    display: flex;
    justify-content: space-between;
    .left {
      width: 60%;
      img {
        width: 100%;
      }
      h5 {
        margin: 0.5em 0;
        font-size: 30px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .right {
      width: 30%;
      h5 {
        font-size: 30px;
        margin-top: 0 !important;
        margin-bottom: 0.5em;
      }
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          width: 100%;
          display: flex;
          min-height: 7em;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 8px;
          margin: 0.5em 0;
          img {
            width: 30%;
          }
          .rig {
            margin-left: 1em;
            h4 {
              font-size: 20px;
              margin-top: 0.2em;
            }
            h6 {
              font-size: 14px;
              margin-top: 0.5em;
            }
            div {
              display: flex;
              align-items: center;
              span {
                margin-left: 0.5em;
              }
            }
          }
        }
      }
    }
  }
}
