.main{
    background-color: rgb(15, 15, 15);
    color: rgb(248, 248, 248);
    min-height: 41em;
    position: relative;
    padding: 60px 200px;
    overflow: hidden;
    background-image: url(https://web-assets.cred.club/_next/assets/images/home-page/hero-bg.png);
    background-size: cover;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    @media(max-width: 600px){
        padding: 50px 30px;
        min-height: 41.5em;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 49px;
            height: 66px;
            @media(max-width: 600px){
                width: 45%;
                height: auto;
            }
        }
    }
    .menu{
        display: flex;
        align-items: center;
        font-weight: bold;
        .list{
            padding: 4px;
            margin: 0 1em;
            a{
                color: white;
                opacity: 0.8;
                font-size: 19px;
                line-height: 36px;
                white-space: nowrap;
                text-decoration: none;
            }
            @media(max-width: 600px){
                display: none;
            }
        }
        .btns{
            margin-left: 36px;
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 18px;
            white-space: nowrap;
            border: 1px solid rgb(248, 248, 248);
            border-radius: 22px;
            cursor: pointer;
            padding: 12px 32px;
            outline: none;
            @media(max-width: 600px){
                padding: 10px 25px;
                font-size: 13px;
            }
        }
    }
}

.heads{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    @media(max-width: 600px){
        width: 85%;
        align-items: flex-start;
    }
    .reward{
        font-size: 100px;
        line-height: 125px;
        letter-spacing: -3px;
        text-align: center;
        white-space: pre-line;
        margin-top: 100px;  
        @media(max-width: 600px){
            font-size: 45px;
            letter-spacing: 0;
            line-height: normal;
            text-align: left;
            margin-top: 10px; 
        }
    }
    .sub{
        font-size: 30px;
        letter-spacing: -0.2px;
        line-height: 38px;
        margin-top: 35px;
        text-align: center;
        @media(max-width: 600px){
            font-size: 17px;
            line-height: 1.5;
            text-align: left;
        }
    }
    .dwnld{
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        position: relative;
        pointer-events: auto;
        text-align: center;
        padding: 20px 65px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 24px;
        letter-spacing: 0.4px;
        line-height: 30px;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 58px; 
        @media(max-width: 600px){
            padding: 8px 20px;
            font-size: 17px;
            
        }
    }
}